* {
  padding: 0;
  margin: 0;

}

.centralcontainer-logincriador{
  width: 32%;
  height: 50%;
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-top:23px;
  background-color: rgba(255, 255, 255, 0.7);

}

.container-logincriador{
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./images/creator.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
#form-logincriador{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 0;
}

#esqueci-senha-link-login{
  text-decoration: none;
  font-size: 12px;
}

#form-logincriador button{
  background-color:  #00bcd4;
  margin-top: 10px;
}

#form-logincriador button:hover {
  background-color: #4dd0e1;
}

.container-logocriador{
  width: 80%;
  height: 20%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

}
.logo-logincriador{
  padding: 0;
  width: 40%;
  padding-top: 70px;
}
 .socialnetworkslogin-login{
  border-radius: 20px;
  border: 0;
  min-width: 100px;
  align-self: center;
  margin-right: 13px;
  margin-top: 50px;
  
 }

 
@media (min-width: 100px) and (max-width:480px) {

  .centralcontainer-logincriador{
    width: 80%;
    height: 50%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.7);
  }

  .logo-logincriador{
    padding: 0;
    width: 100%;
    padding-top: 70px;
  }
}
 
@media (min-width: 320px) and (max-width:480px) {

  .centralcontainer-logincriador{
    width: 80%;
    height: 50%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.7);
  }

  .logo-logincriador{
    padding: 0;
    width: 100%;
    padding-top: 70px;
  }
}


@media (min-width: 481px) and (max-width:768px) {

  .centralcontainer-logincriador{
    width: 70%;
    height: 40%;
    display: 'flex';
    flex-direction: column;
  
    border-radius: 10px;
    padding-top:23px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .logo-logincriador{
    padding: 0;
    width: 70%;
    padding-top: 70px;
  }
}

@media (min-width:769px) and (max-width:1024px) {

  .centralcontainer-logincriador{
    width: 40%;
    height: 50%;
    display: 'flex';
    flex-direction: column;
  
    border-radius: 10px;
    padding-top:23px;
    background-color:rgba(255, 255, 255, 0.7);
  }

  .logo-logincriador{
    padding: 0;
    width: 65%;
    padding-top: 70px;
  }
}

