* {
  padding: 0;
  margin: 0;
}

.centralcontainer-logincreator {
  border-radius: 10px;
  padding: 2.3rem;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 23px; */
  background: #6b6b6b4d;
  box-shadow: 0 8px 32px 0 #000000;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  /* border: 1px solid #aaaaaa; */
  color: #fff;
}

.container-logincreator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url("./images/creator.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-logincreator {
  padding: 0;
  width: 48%;
  /* padding-top: 70px; */
}
.container-logologinfa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}
.resetPassword {
  text-decoration: none;
  font-size: 0.9rem;
  color: #0059ff;
  font-weight: 600;
  transition: 0.2s;
}
.resetPassword:hover {
  text-decoration: underline;
  color: #0146c5;
}
.centralizedButton {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.login-submit-button {
  width: 120px;
  color: #fff;
  font-weight: 900;
  padding: 4.3px;
  border-radius: 7.5px;
  border: none;
  transition: 0.3s;
}
.login-submit-button:hover {
  letter-spacing: 0.8px;
  color: #000;
  color: #dbdbdb;
}

@media (max-width: 500px) {
  .centralcontainer-logincreator {
    width: 75%;
  }
  .logo-logincreator {
    width: 55%;
  }
}
