.app {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  top: 50px;
  position: fixed;
  left: 300px;
}

.message-content {
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 35%;
  word-wrap: break-word;
  font-size: small;
}
.message-time{
font-size: small;
}

.contacts {
  flex-basis: 30%;
  padding: 20px;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.contacts h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts li {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

.contacts li:hover {
  background-color: #d9d9d9;
}

.messages {
  width: 50%;
  padding: 20px;
  position: fixed;
  right:  10px;
 
}

.messages h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.messages p {
  font-size: 20px;
  margin-bottom: 20px;
}

.messages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages li {
  margin-bottom: 10px;
  font-size: 20px;
}

.messages li:last-child {
  margin-bottom: 30px;
}

.message-author {
  font-weight: bold;
}

.message-content {
  margin-left: 5px;
  
}

.message-time {
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}
.last-message{
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.new-message {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  position: relative;
}

.new-message input[type="text"] {
  flex-grow: 1;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: medium;
}
.message-list-container {
  height: calc(100vh - 250px);
  overflow: auto;
}
.new-message .MuiIconButton-root {
  position: absolute;
  right: 80px;
  background-color: transparent;
  color: #00bcd4;
}
.new-message .MuiIconButton-root:hover{
  background-color: transparent;
  color: #024a53;
}


.new-message button {
  font-size: 20px;
  background-color: #02c6ff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-message button:hover {
  background-color: #4dd0e1;
}
.menssage-list{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.avatar-menssage{
  width: 25px;
  height: 25px;
  border-radius: 50%;

}

li.sent {
  text-align: right;
}

li.sent .message-content {
  background-color: #00bcd4;
  color: white;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
  display: inline-block;
}

li.received .message-content {  
  background-color: grey;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  display: inline-block;
  color: white;
}
.avatar-message {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.author {
  display: block;
  margin-left: 10px;
  font-weight: bold;
}
.contacts {
  position: fixed;
  top: 50px;
  left: 250px;
  width: 25%;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  transition: all 0.3s ease;
}
@media (min-width: 0px) and (max-width:299px){

  .app{
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  .messages {
   
    position: fixed;
    left: 10%;
    width: 93%;
    overflow-y: scroll;
   
  }

  
  .new-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }
  
  .new-message input[type="text"] {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    max-width: 90%;
    margin-left: 10px;
  }
  
  .new-message button {
    height: 40px;
    width: 60px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;

  }
  
  .contacts {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    overflow-y: scroll;
    transition: all 0.3s ease;
  }
 

  .contacts.show {
    left: 0;
  }

  .message-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  .message-content{
    font-size: small;
    padding: 0;
    margin: 0;
  }
  .message-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  .author {
    display: block;
    margin-left: 10px;
    font-weight: bold;
  }
  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
  }
  .hamburger-icon {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
  }
  .nav.show {
    display: block;
  }
      
  .avatar-message {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .hamburger-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    z-index: 1000;
  }

  .hamburger-icon,
  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
  }

  .hamburger-icon::before {
    top: -10px;
  }

  .hamburger-icon::after {
    top: 10px;
  }

  .hamburger-menu.open .hamburger-icon {
    transform: rotate(45deg);
  }

  .hamburger-menu.open .hamburger-icon::before {
    transform: rotate(90deg);
    top: 0;
  }

  .hamburger-menu.open .hamburger-icon::after {
    transform: rotate(-90deg);
    top: 0;
  }
  .message-content{
    max-width: 50%;
  }

}
@media (min-width: 300px) and (max-width:768px) {
  .app{
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  .new-message .MuiIconButton-root{
    right: 20%;
  }
  .message-content{
    max-width: 50%;
  }
  .message-list-container{
    margin-right: 50px ;
  }
  .messages {
    position: fixed;
    left: 10%;
    width: 100%;
    overflow-y: scroll;
   
  }

  
  .new-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }
  
  .new-message input[type="text"] {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    max-width: 90%;
    margin-left: 10px;
  }
  
  .new-message button {
    height: 40px;
    width: 60px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;

  }
  
  .contacts {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    overflow-y: scroll;
    transition: all 0.3s ease;
  }
 

  .contacts.show {
    left: 0;
  }

  .message-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 

  .message-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  .author {
    display: block;
    margin-left: 10px;
    font-weight: bold;
  }
  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
  }
  .hamburger-icon {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
  }
  .nav.show {
    display: block;
  }
      
  .avatar-message {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .hamburger-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    z-index: 1000;
  }

  .hamburger-icon,
  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
  }

  .hamburger-icon::before {
    top: -10px;
  }

  .hamburger-icon::after {
    top: 10px;
  }

  .hamburger-menu.open .hamburger-icon {
    transform: rotate(45deg);
  }

  .hamburger-menu.open .hamburger-icon::before {
    transform: rotate(90deg);
    top: 0;
  }

  .hamburger-menu.open .hamburger-icon::after {
    transform: rotate(-90deg);
    top: 0;
  }
}


@media (min-width:769px) and (max-width:1025px) {
  .messages {
    flex-basis: 70%;
    padding: 20px;
    position: fixed;
    right:  10px;
  }
  .contacts {
    position: fixed;
    left: 10px;
  }
}


