.row {
  max-width: 100%;
}
.botaonavbar {
  background-color: white;
}
.container-outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
}

.bordernavbarside-feed {
  /* border: 1px solid black; */
  border: 1.5px solid #e7e7e7;
  /* border-radius: 10px 0px; */
}
#offcanvasNavbarMain {
  width: 50%;
  border-left: 2px solid #5f86f1;
}
.testeh:hover {
  background-color: red;
}
.div-todo {
  display: flex;
  align-items: flex-end;
  /* margin-right: 1.3rem; */
  /* margin-top: 1rem; */
  /* margin-left: 0.2rem; */
  height: 80vh;
  /* width: 100vw; */
}

.ul {
  display: flex;
  align-items: flex-end;
}
.li {
  display: flex;
  flex-direction: column;
}
.namee {
  margin-top: 0.5rem;

  display: flex;
  flex-direction: column;

  align-items: flex-end;
}

.alignImgName {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  margin-right: 0.5rem;
}
.font-teste {
  font-size: 1.1rem;
}
.img-myDados {
  border: 0.5px solid black;
  margin-right: 10px;
}
.logobraba {
  width: 8.3rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3px;
  cursor: pointer;
  text-align: center;
}
.logoxixe {
  width: 10.5rem;
}
.navlateral {
  margin-left: 2.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container-postagem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-postagem > h1 {
  font-size: 2.1rem;

  margin-top: 5px;

  letter-spacing: 0.6px;
  font-weight: 600;
}
.styleButtons {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}
.navbarside-feed {
  height: 68%;
}
.container-links {
  display: flex;
  flex-direction: column;
  height: 31vh;
  justify-content: center;
  gap: 0.4rem;
}
.container-links > button {
  width: 10rem;
  padding: 11px;
  border-radius: 5px;
  background-color: #e46f80;
  border: none;
  /* border: 2px solid #000; */
}
.scrollable-submenu {
  max-height: 300px; /* Defina a altura máxima desejada para o submenu */
  overflow-y: auto;
}
.scrollable-submenu::-webkit-scrollbar {
  width: 0.2em; /* Ajuste a largura da barra de rolagem conforme necessário */
}

.scrollable-submenu::-webkit-scrollbar-track {
  background: transparent; /* Define a cor de fundo da barra de rolagem */
}

.scrollable-submenu::-webkit-scrollbar-thumb {
  background: gray; /* Define a cor do indicador da barra de rolagem */
}

.scrollable-submenu::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Define a cor do indicador da barra de rolagem ao passar o mouse */
}
.custom-menu-item {
  background: #ececec4d;
  /* box-shadow: 0 6px 30px 0 #d0d7ff; */
  /* border-radius: 10px; */
  transition: 0.3s;
}
.custom-menu-item:hover {
  /* background-color: #ebebeb; */
  /* background-color: #a1b4ff; */
  box-shadow: 0 8px 32px 0 #8494ff;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
.centralizelogobraba {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 300px) {
  #offcanvasNavbarMain {
    width: 100%;
  }
  .footer {
    z-index: 99999;
  }
  .logobraba {
    display: none;
  }
}
@media (max-width: 999px) {
  .navbarside-feed {
    display: none;
  }
  .logobraba {
    display: none;
  }
  .footer {
    display: flex;
    z-index: 99999;
  }
  .container-feed {
    padding-bottom: 50px;
  }
  #offcanvasNavbarMain {
    width: 30%;
  }
}
@media (max-width: 716px) {
  #offcanvasNavbarMain {
    width: 40%;
  }
}
@media (max-width: 555px) {
  #offcanvasNavbarMain {
    width: 50%;
  }
}
@media (max-width: 445px) {
  #offcanvasNavbarMain {
    width: 60%;
  }
}
@media (max-width: 376px) {
  #offcanvasNavbarMain {
    width: 80%;
  }
}
@media (max-height: 610px) {
  .div-todo {
    height: 77vh;
  }
}

@media (max-height: 663px) {
  .navbarside-feed {
    height: 73%;
  }
}
@media (max-height: 619px) {
  .navbarside-feed {
    height: 80%;
  }
}
@media (max-height: 510px) {
  .div-todo {
    height: 74vh;
  }
}
