.row {
  max-width: 100%;
}
.botaonavbar {
  background-color: white;
}
.container-outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
}
.navbarside-feed {
  /* padding-left: 60px; */
  /* padding-top: 30px; */
  /* background-color: #000000; */
  border-radius: 10px;

  /* z-index: 99999; */
}
.testeh:hover{
  background-color: red;
}
.div-todo {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  /* margin-left: 0.2rem; */
  height: 100vh;
  /* width: 100vw; */
}
.namee {
  margin-bottom: 1rem;
  /* width: 50vw; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* padding-left: 10px; */
  /* margin-left: 0.8rem; */
  /* padding-right: 10px; */
  /* width: 100vw; */
}
.font-teste {
  font-size: 1.1rem;
}
.img-myDados {
  border: 0.5px solid black;
  margin-right: 10px;
}
.logobraba {
  /* border: 2px solid black; */
  width: 8.3rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3px;
  cursor: pointer;
}
.navlateral {
  margin-left: 2.5rem;
  position: fixed;
  /* z-index: 99999; */
  display: flex;
  flex-direction: column;
  height: 75vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.scrollable-submenu {
  max-height: 300px; /* Defina a altura máxima desejada para o submenu */
  overflow-y: auto;
}
.scrollable-submenu::-webkit-scrollbar {
  width: 0.2em; /* Ajuste a largura da barra de rolagem conforme necessário */
}

.scrollable-submenu::-webkit-scrollbar-track {
  background: transparent; /* Define a cor de fundo da barra de rolagem */
}

.scrollable-submenu::-webkit-scrollbar-thumb {
  background: gray; /* Define a cor do indicador da barra de rolagem */
}

.scrollable-submenu::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Define a cor do indicador da barra de rolagem ao passar o mouse */
}

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  max-width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbarside-feed {
    display: none;
    z-index: 99999;

  }
  .logobraba {
    display: none;
  }

  .footer {
    display: flex;
    z-index: 99999;
  }
  .container-feed {
    padding-bottom: 50px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .navbarside-feed {
    display: none;
  }

  .footer {
    display: flex;
  }

  .container-feed {
    padding-bottom: 50px;
  }
  .logobraba {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1045px) {
  .navbarside-feed {
    display: none;
  }

  .footer {
    display: flex;
  }

  .container-feed {
    padding-bottom: 50px;
  }
  .logobraba {
    display: none;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .navbarside-feed {
    padding-left: 10px;
    padding-top: 30px;
  }
}
