* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.dados-profile {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.buttons-profile-wrapper {
    display: flex;
    flex-direction: row;
}

.profile-container {
    width: 100%;
    height: 100%;
}

.radio-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.background-profile {
    margin-left: 60px;
    width: 60%;
    height: calc(100vh - 30px);
    border: none;
}

.seguidores-posts-likes {
    justify-content: space-around;
    display: flex;
}

.seguidores-posts-likes span {
    text-align: center;
    font-weight: bold;
}


.social-networks span {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    background: none;
}

.social-networks {
    justify-content: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    background: none;

}

.buttons-profile {
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 130px;
}

.grid-profile {
    width: 70%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 10px
}

.img-grid {
    width: 180px;
    height: 180px;
}

.div-central-profile {
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 55%;
}

@media (min-width: 0px) and (max-width:768px) {
    .grid-profile {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin: 0 auto;
        padding-bottom: 15%;

    }

    .container-sobremim {
        width: 90%;
        margin-top: 10px;
        text-align: justify;
        padding: 0px;
    }

    .buttons-name-profile {
        font-size: 10px;
    }

    .background-profile {
        margin: 0 auto;
        height: 100vh;
        width: 100%;
    }

    .profile-container {
        width: 100%;
        padding: 0; 

    }

    .div-central-profile {
        margin-top: 100%;
    }

    .buttons-profile {
        width: 90px;
    }

}
.function-user {
    margin-top: 10px;
  }


@media (min-width: 769px) and (max-width:1299px) {
    .grid-profile {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        padding-bottom: 10px;
    }

    .background-profile {
        margin: 0;
        width: 100%;
        height: 100vh;
        margin-top: 0;
    }

    .profile-container {
        margin-right: 90px;
        margin-top: 0;
    }
}


@media (min-width: 0px) and (max-width:580px) {
    .img-grid {
        width: 110px;
        height: 110px;
    }
}