*{
    padding: 0;
    margin: 0;

}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
  
  
  .criador {
    height: 50%;
    width: 100%;
    background-color: red;

  }
  
  .fa {
    height: 50%;
    background-color: black;
   
  }
  