*{
    padding: 0;
    margin: 0;

}
.container-sl {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;

}

.criador {
  width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/creator.jpg');
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
    
  }
    

.criador button{
 margin-top: 30%;
}

.criador h1{
    color: #fff;
}
.fa h1{
  color: #fff;
}

.fa button{
  margin-top: 30%;
 }

.fa {
  width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/fas.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2px;
    background-position: center center;
  }

.criminal {
  height: 10%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.btn-secondary{
  margin: 10px;
  background-color: #4dd0e1 ;
  width: 8rem;
}

.btn-secondary:hover{
   background-color: #00bcd4 ;
}

.logo{
 height: 100%;
}





@media screen and (max-width: 770px)  {
  .fa  {
    width: 100%;
    background-position: 80%;
  }
  .criador  {
    width: 100%;
  }
}