.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.search {
  border: 2px solid black;
  display: flex;
  /* padding: 5px; */
  border-radius: 5px;
}
.input-search {
  border: none;
  padding: 15px;
  width: 20rem;
  letter-spacing: none;
  transition: 0.3s;
}
.img-search {
  width: 2.3rem;
  padding: 5px;
  background-color: #dddddd;
  border-left: 2px solid black;
  cursor: pointer;
}
.img-search:hover {
  background-color: #f2f2f2;
}

.input-search:hover {
  letter-spacing: 0.8px;
}

.li_pesquisa {
  list-style-type: none;
  font-weight: 600;
  font-size: 1.3rem;
  display: flex;
  width: 30rem;
  /* border-radius: 10px; */
  align-items: center;
  justify-content: space-between;
  background-color: #e6e6e6;
  cursor: pointer;
  border: 1.5px solid black;
  /* padding: 3px; */
  margin-bottom: 7px; /* Adicione esta propriedade para criar um espaço entre os itens */
  margin-top: 5px; /* Adicione esta propriedade para criar um espaço entre os itens */
  opacity: none;
  transition: 0.4s;
}

.teste {
  margin-right: 3rem;
}

.li_pesquisa:hover {
  opacity: 0.9;
  background-color: #bdbdbd;
  transform: scale(1.1);
}

.imgUser {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: 1px solid #000000;
  margin-left: 2rem;
}
@media (max-width: 500px) {
  .li_pesquisa {
    font-size: 1.3rem;
    width: 27rem;
    margin-top: 8px; /* Adicione esta propriedade para criar um espaço entre os itens */
  }
}
@media (max-width: 450px) {
  .li_pesquisa {
    width: 20rem;
  }
}

@media (max-width: 400px) {
  .input-search {
    padding: 10px;
    width: 15rem;
  }
  .search {
    margin-left: 1rem;
  }
  .imgUser {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }
  .li_pesquisa {
    width: 18rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 295px) {
  .input-search {
    padding: 10px;
    width: 13rem;
  }
  .search {
    margin-left: 1rem;
  }
  .li_pesquisa {
    width: 16rem;
    font-size: 1.2rem;
  }
}
