.verts-player-container {
  position: relative;
  padding: 0 100px;
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  border-radius: 50px;
  margin: 0 60px;
  margin-bottom: 50px;
}

.verts-player {
  height: 100%;
  width: 100%;
}

.verts-controls {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play-button-verts{
  position: absolute;
  top: 50%;
  right: 50%;
  
}

.verts-play-pause-button,
.verts-mute-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px 0;
}

.verts-play-pause-button:focus,
.verts-mute-button:focus {
  outline: none;
}

.verts-play-pause-button svg,
.verts-mute-button svg {
  font-size: 1.5rem;
  color: #fff;
}

.verts-mute-button svg {
  transform: scaleX(-1);
}


 



@media (min-width: 0px) and (max-width:768px) {
  .verts-player {
    width: 100%;
    height: 100%;

  }

  .verts-player-container {
    position: relative;
    padding: 0 0px;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    border-radius: 20px;
    margin: 0 0px;
    margin-bottom:30px;
  }
}

@media (min-width:769px) and (max-width:1024px) {

  .verts-player-container {
    padding: 0;
  }
}
