
.verts-player-container {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 20px;
  width: 50%;
  margin: 0 250px;
  margin-bottom: 10px;
}

.verts-player {
 max-width: 100%;
 height: 100%;
 border-radius: 20px;
}

.verts-controls {
  position: absolute;
  right: -20%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.play-button-verts{
  position: absolute;
  top: 50%;
  right: 50%;
  
}

.verts-play-pause-button,
.verts-mute-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px 0;
}


.verts-play-pause-button svg,
.verts-mute-button svg {
  font-size: 1.5rem;
  color: #fff;
}



 



@media (min-width: 0px) and (max-width:768px) {
  .verts-player {
    width: 100%;
    height: 100%;

  }

  .verts-player-container {
padding: 0;
margin: 0;
width: 100%;
height: 100%;
margin-bottom: 30px;
  }
  .verts-controls {
    right: 5%;
  }
}



@media (min-width:769px) and (max-width:1024px) {

  .verts-player {
    width: 100%;
    height: 100%;

  }

  .verts-player-container {
padding: 0;
margin: 0;
margin-bottom: 30px;
width: 100%;
height: 100%;
  }
  .verts-controls {
    right: 5%;
  }
}
