.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 10px;
  align-self: center;
}

@media (min-width: 0px) and (max-width:768px) {

  .content-container {
    width: 100%;
  }
}