* {
  padding: 0;
  margin: 0;

}

.container-signfa{
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./images/fas.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.socialnetworkssignfa1-sign :disabled{
  background-color: gray;
  color: gray;
}

.container-logofa{
  width: 100%;
  height: 20%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-signfa{
  padding: 0;
  width: 40%;
  padding-top: 70px;
}

.centralcontainer-signfa{
  width: 40%;
  height: 100%;
  display: 'flex';
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: auto;
  margin-bottom: 30px;
  padding-top: 10px;
}

#form-signfa{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 0;
}

#esqueci-senha-link-sign{
  text-decoration: none;
  font-size: 12px;
}

#form-signfa button{
  background-color:  #00bcd4;
  margin-top: 10px;
}

#form-signfa button:hover {
  background-color: #4dd0e1;
}
#form-signfa button:disabled {
  background-color: gray;
  border: none;
}


 .socialnetworkssign-sign{
  border-radius: 20px;
  border: 0;
  min-width: 100px;
  align-self: center;
  margin-right: 13px;
  margin-top: 50px;
 }
 
@media (min-width: 320px) and (max-width:480px) {

  .centralcontainer-signfa{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.7);
  }

  .logo-signfa{
    padding: 0;
    width: 100%;
    height: 100%;
    padding-top: 70px;
  }
}


@media (min-width: 0px) and (max-width:768px) {

  .centralcontainer-signfa{
    width: 90%;

    display: 'flex';
    flex-direction: column;
  
    border-radius: 10px;
    padding-top:23px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .logo-signfa{
    padding: 0;
    width: 70%;
    padding-top: 70px;
  }
}

@media (min-width:769px) and (max-width:1024px) {

  .centralcontainer-signfa{
    width: 60%;

    display: 'flex';
    flex-direction: column;
  
    border-radius: 10px;
    padding-top:23px;
    background-color:rgba(255, 255, 255, 0.7);
  }

  .logo-signfa{
    padding: 0;
    width: 50%;
    padding-top: 70px;
  }
}



